/* Set global font, background color, and remove default margins */
body {
    font-family: "Inter", sans-serif; /* main font */
    background-color: #f5f5f5; /* light background */
    margin: 0;
    padding: 0;
    display: flex;             /* use flexbox for layout */
    flex-direction: column;    /* header on top, board below */
    justify-content: center;   /* center */
    align-items: center;       
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header .title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

#board{
    display: flex;
    flex-direction: column;   /* rows stacked vertically */
    gap: 10px;                /* space between rows */
    margin: 20px auto;          /* center horizontally */
}

.row {
    display: flex;          /* Put elements next to each other */
    gap: 5px;              /* Space between cells */
}

.tile{
    width: 65px;
    height: 65px;
    border: 2px solid #d3d6da;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 5px;
}

/* Keyboard styles */
#keyboard {
    width: 600px;               /* set the total width */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;                   /* space between rows */
}

.key {
    height: 60px;
    flex: 1;                  /* keys expand evenly */
    margin: 0 4px;
    background-color: #dfdfdf;
    color: #000000;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
}

.key-large {
    flex: 1.5;
}

.spacer {
    flex: 0.5;                /* smaller space */
}
