/* Set global font, background color, and remove default margins */
body {
    font-family: "Inter", sans-serif; /* main font */
    background-color: #f5f5f5; /* light background */
    margin: 0;
    padding: 0;
    display: flex;             /* use flexbox for layout */
    flex-direction: column;    /* header on top, board below */
    justify-content: center;   /* center */
    align-items: center;       
    min-height: 100vh;         /* full viewport height */
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header .title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

/* Game board styles */
#board{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   /* rows stacked vertically */
    gap: 1vh;                /* space between rows */
    margin: 2vh auto;          /* center horizontally */
    max-width: 400px;
    width: 90%;  
}

.row {
    display: flex;          /* Put elements next to each other */
    justify-content: space-between;
    gap: 5px;              /* Space between cells */
    width: 100%; 
}

.tile{
    flex: 1;
    aspect-ratio: 1 / 1;    /* Tile will save square shape */
    max-width: 60px;          
    min-width: 40px; 
    border: 2px solid #d3d6da;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 5px;
}

/* Keyboard styles */
#keyboard {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;                   /* space between rows */
    width: 100%;
}

.key {
    height: 60px;
    flex: 1;                  /* keys expand evenly */
    margin: 0 4px;
    background-color: #dfdfdf;
    color: #000000;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
}

.key-large {
    flex: 1.5;
}

.spacer {
    flex: 0.5;                /* smaller space */
}

#backspace {
    /* icon "Backspace" by FortAwesome, licensed under CC Attribution License --> */
    background-image: url('icons/backspace-svgrepo-com.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

