/* Set global font, background color, and remove default margins */
body {
    font-family: "Inter", sans-serif; /* main font */
    background-color: #f5f5f5; /* light background */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: relative;
}

header .title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}